# The following lines are desirable for IPv4 capable hosts
{{ ansible_eth0.ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}
{{ ansible_eth0.ipv4.address }} localhost.localdomain localhost
{{ ansible_eth0.ipv4.address }} localhost4.localdomain localhost4
